.PostGrid-PushDown {
    margin-top: 100px !important
}
.PostImageCard {
    max-width: 940px;
    margin: 15px 0
}

.PostImageCard_ImageHeight {
    height: 350px;
}

#permalink-container:hover #permalink-anchor {
    opacity: 1 !important
}

#permalink-anchor svg:hover {
    fill: #9E9E9E !important
}